@tailwind base;
@tailwind components;
@tailwind utilities;

.first-screen{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Bungee Hairline', cursive;
}
.title{
    font-size: 40px;
    font-weight: 700;
}
.middle-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.inner-container{
    width: 100%;
    max-width: 400px;
}